@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap);

:root {
--Teal :#4CA7C0;
--Purple: #484FB7;
--Lavender: #6B8FE7;
--Yellow: #E9BB57; 
--Pink:#D9526F;
--Dark-gray:#1E1E1E; 
--White:#ffffff; 
}

header p {
    background-color: #D9526F;
    margin: auto;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    width: 93%;
    padding: 10px;
    padding-top: 20px;
}

h1, h2 {
    font-family: 'Kavoon', cursive;
    color: #ffffff;
}

h1{
    font-size: 3em;
    background-color: #6B8FE7;
    padding-top: 70px;
    padding-bottom: 25px;
    text-align: center;
    margin: 0;
    border-radius: 0px 0px 40px 40px;
    width: 100%;
}

nav h2{
    font-size: 1.5em;
}

h2{
    font-size: 2em;
    padding-left: 20px;
    padding-top: 20px;
}

h3{
    font-size: 1.5em;
    color: #E9BB57;
    padding-left: 20px;
}

h4{
    padding-left: 30px;
    font-size: 1.15em;
    color: #484FB7;
}

body{
    font-family: 'Inter', sans-serif;
    color: #1E1E1E;
    padding: 0;
    margin: 0;
    margin-bottom: 120px;
}

html{
    background-color: var(--Purple);
    margin: 0;
    padding: 0;
}

ul li {
    display: none;
    list-style: none;
    background-color: #E9BB57;
}

nav a{
    text-decoration: none;
    color: #1E1E1E;
}

main p {
    padding: 30px;
}

[href="#menu"] {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #E9BB57;
    padding: 15px;
    margin: auto;
    border-radius: 0px 0px 25px 25px;
    list-style: none;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

img {
    padding: 25px;
}

article {
    background-color: #ffffff;
    border-radius: 25px;
    margin: 25px;
}

#price {
    background-color: #484FB7;
    padding: 5px;
}

#ychoose {
    border-radius: 0;
    background-color: #D9526F;
    padding-bottom: 20px;
    width: 100%;  
}

#whychoose div {
    width: 250px;
    height: 90px;
    padding: 50px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
}

#green {
    background-color: #4CA7C0;
}

#purple {
    background-color: #6B8FE7;
}

#yellow {
    background-color: #E9BB57;
}

#white {
    background-color: #ffffff;
}

#whychoose {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    justify-content: center;
    gap: 10px;
}

table {
    background-color: #E9BB57;
    margin: auto;
    width: 400px;
    height: auto;
}

td {
    background-color: #ffffff;
    padding: 20px;
    font-size: 1.8em;
}

th{
    padding: 20px;
    font-size: 2em;
    text-transform: capitalize;
}

footer {
    background-color: #6B8FE7;
    text-align: center;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
    border-radius: 0px 0px 50px 50px;
    width: 100%;
}

.first {
    text-align: center;
    background-color: #D9526F;
    color: #ffffff;
    padding-bottom: 90px;
}

.first p{
    text-align: left;
    padding: 20px;
}

.first a{
    background-color: #ffffff;
    text-decoration: none;
    margin: 10px;
    text-transform: uppercase;
    text-align: center;
}

.potential {
    display: none;
}