@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap);

:root {
--Teal :#4CA7C0;
--Purple: #484FB7;
--Lavender: #6B8FE7;
--Yellow: #E9BB57; 
--Pink:#D9526F;
--Dark-gray:#1E1E1E; 
--White:#ffffff; 
}

header {
    top: 0;
}

header p {
    background-color: #D9526F;
    border-radius: 10px;
    margin: 0;
    color: #ffffff;
    text-align: center;
}

h1, h2 {
    font-family: 'Kavoon', cursive;
    color: #ffffff;
}

h1{
    font-size: 3em;
    background-color: #6B8FE7;
    padding: 25px;
    padding-left: 40px;
    padding-bottom: 25px;
    text-align: center;
    margin: 0;

}

nav h2{
    font-size: 1.5em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
    color: #E9BB57;
}

h4{
    font-size: 1.15em;
    color: #484FB7;
}

body{
    font-family: 'Inter', sans-serif;
    color: #1E1E1E;
}

html{
    background-color: var(--Purple);
}

ul li {
    visibility: hidden;
    background-color: #E9BB57;
}

[href="#menu"] {
    position: fixed;
    top: 0px;
    right: 30px;
    background-color: #E9BB57;
    padding: 15px;
}

article {
    background-color: #ffffff;
    border-radius: 25px;
}

#price {
    background-color: #484FB7;
}

#ychoose {
    border-radius: 0;
    background-color: #D9526F;
}

table {
    background-color: #E9BB57;
    margin: auto;
}

td {
    background-color: #ffffff;
    padding: 10px;
}

footer {
    background-color: #6B8FE7;
    text-align: center;
    color: #ffffff;
}

.first {
    background-color: #D9526F;
}

